meter app.py
rounds.py
view.py
__pycache__/gas_meter.cpython-36.pyc
__pycache__/rounds.cpython-36.pyc
__pycache__/view.cpython-36.pyc
OpenCamera/*
Gas Meter/*
554CANONdrin/*
555CANONdrin/*
556CANONdrin/*
557CANONdrin/*
2019/*
2020-02/*
*.pyc
__pycache__
*.pck
__pycache__/image_extraction.cpython-36.pyc
cornerlist.pck
imagenamelist.pck
